REDCITY_BOT_WEBHOOK=https://redcity-open.xiaohongshu.com/api/robot/webhook/send?key=87888e71-4ad5-4173-8ae2-6e5594d90189
DEEPSEEK_API_KEY=sk-048e76d8b20e47aeb025f41240f95b61
DEEPSEEK_BASE_URL=https://api.deepseek.com/v1
